@{
    ViewBag.Title = "Home Page";
}

<h2>Simple Type</h2>
<div class="row">
    <div class="col-md-2">
        <a href="#" id="GetAllRequest" class="btn btn-primary"> Get All test </a>
        <div id="GetAlloutput">waiting for action</div>
    </div>

    <div class="col-md-2">
        <a href="#" id="GetIdRequest" class="btn btn-primary"> Get Id test </a>
        <div id="GetIdoutput">waiting for action</div>
    </div>

    <div class="col-md-2">
        <a href="#" id="PostRequest" class="btn btn-primary"> Post test </a>
        <div id="Postoutput">waiting for action</div>
    </div>

    <div class="col-md-2">
        <a href="#" id="PutRequest" class="btn btn-primary"> Put Id test </a>
        <div id="Putoutput">waiting for action</div>
    </div>

    <div class="col-md-2">
        <a href="#" id="DeleteRequest" class="btn btn-primary"> Delete Id test </a>
        <div id="Deleteoutput">waiting for action</div>
    </div>
</div>

<h2>Complex Type</h2>
<div class="row">
    <div class="col-md-2">
        <a href="#" id="GetAllComplexRequest" class="btn btn-primary"> Get All test </a>
        <div id="GetAllComplexoutput">waiting for action</div>
    </div>

    <div class="col-md-2">
        <a href="#" id="GetIdComplexRequest" class="btn btn-primary"> Get Id test </a>
        <div id="GetIdComplexoutput">waiting for action</div>
    </div>

    <div class="col-md-2">
        <a href="#" id="PostComplexRequest" class="btn btn-primary"> Post test </a>
        <div id="PostComplexoutput">waiting for action</div>
    </div>

    <div class="col-md-2">
        <a href="#" id="PutComplexRequest" class="btn btn-primary"> Put Id test </a>
        <div id="PutComplexoutput">waiting for action</div>
    </div>

    <div class="col-md-2">
        <a href="#" id="DeleteComplexRequest" class="btn btn-primary"> Delete Id test </a>
        <div id="DeleteComplexoutput">waiting for action</div>
    </div>
</div>


@*Include this AFTER jquery.js
<script src="~/Scripts/app.js"></script>*@
